
:host{

    .container{

        display: flex;
        flex-direction: column;
        align-items: center;
        header{

            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #aaa;
            border-radius: 0.5em;
            padding: 1em;
            padding-bottom: 2em;
            margin-top: 1em;
            width:80%;
            min-width: 900px;

            .btn{
    
                cursor: pointer;
                margin-top: 1.2em;
                white-space: nowrap;
                min-width: 200px;
                height: 35px;
                border: none;
                border-radius: 0.3em;
                background: rgb(26, 11, 126);
                color: #fff;
                font-weight: bold;
                font-size: 1.03rem;
            }
    
            .btn:hover{
    
                background-color: rgb(17, 4, 99);
            }
        }
        main{

            margin-top: 1em;
            width:80%;
            min-width: 900px;

            .container-table{

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #aaa;
                border-radius: 0.5em;
                min-height: 2em;
                overflow: hidden;

                table{

                    width: 100%;
                    border-collapse: collapse;

                    thead{

                        height: 2em;

                        th{
                            text-align: justify;
                            padding-left: 1em;
                        }

                        .th-operacao{

                            text-align: center;
                        }
                    }
                    tbody{

                        tr{
    
                            border: 1px solid rgba(180, 180, 180,0.3) ;
                            height: 2em;

                            td{

                                text-align: justify;
                                padding-left: 1em;
                                width: 16.6%;
                            }
                            .input-cep{

                                border: none;
                                outline: none;

                            }
                                
                            .btn-copy{

                                width: 100%;
                                height: 2em;
                            }

                            
                        }
                    }
                
                }
            }
        }
    }

}